<html>
<head>
	<title>	WEEK DAY </title>
</head>

<body background="https://img.etimg.com/thumb/width-640,height-480,imgsize-539734,resizemode-1,msid-69156527/markets/stocks/news/blanket-ban-on-cryptocurrency-may-prove-to-be-futile-claim-experts/gettyimages-865457032.jpg">
	
	<font color = '#DBEF10'>
	<center><h1>Debayan's Week Day Calculator</h1></center>

	<center><h2>Enter DD MM YYYY.</center>
	<br><br><br><br>

	<form action="result" method="POST">

		<font size=5>
		<label for = Day> Day : 
		<input type="number" name="Day" id="Day" required>
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

		<label for = Month> Month :
		<input type="number" name="Month" id="Month" required>
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

		<label for = Year> Year :
		<input type="number" name="Year" id="Year" required>
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		</font>

		<h1><input type="submit" value="FIND"></h1>
	</form>
	</font>
</body>
</html>
